{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col-12">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="logo-font display-4 my-5">About Us</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="about col-12 col-md-6">
        <p>
            This is not just another string quartet: None of them are young, dyed blonde, or particularly slim, and
            they never pout at their audiences, nor (you will be happy to hear) do they wear revealing garments.
            However, most importantly, they all play the viola! Viola quartets are considerably rarer animals.
            <br>
            <br>
            <strong>Absolute Zero Viola Quartet</strong> have been playing as a group since 1995, and in that time have
            amassed an impressive library of viola quartet repertoire, embracing a wide and eclectic range of
            genre, guaranteed to delight any audience, be they first-timers or seasoned veteran concert
            attendees.
            <br>
            <br>
            The viola quartet is different. It came about almost by accident, while creating repertoire,
            that the interaction between parts was potentially very exciting in a way that a conventional 
            quartet could not be. The range being more limited than a string quartet is mitigated by the 
            potential for melodic dialogue and complex counterpoint. It was most beguiling, and also visually exciting.
        </p>    
        </div>
        <div class="col-12 col-md-6">
            <img class="d-block w-100 about-img" src="{% static 'media/website-images/absolute_zero_garden.JPG' %}" alt="A photo of abosolute zero in a garden with a dog.">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="logo-font text-center">Members</h2>
        </div>
        {% for member in members %}
        <div class="col-12 col-md-6 p-3">
            <div class="card p-4">
                <div class=" d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img class="member-image" src="{{ member.image.url }}"/>
                    </div> 
                    <p class="name mt-3">{{ member.name }}</p>
                    <div class="text mt-3"> 
                        <p>{{ member.biog }} </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}\


