{% extends "base.html" %}
{% load static %} 

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="row"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mt-5">Edit Concert</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_concert' concert.id %}" enctype="multipart/form-data" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="pt-2">
                        <a class="btn btn-danger" href="{% url 'band' %}">Cancel</a>
                        <button class="btn btn-info" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
