{% extends "base.html" %}
{% load static %} 

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}"> -->
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="row"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Thankyou!</h2>
                <hr>
                <p>Your order information is below. A confirmation email will be sent to {{ order.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Order number</p>
            </div>
            <div class="col-12">
                <p>{{ order.order_number }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Order Date</p>
            </div>
            <div class="col-12">
                <p>{{ order.date }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Order Details</p>
            </div>
        </div>
        {% for item in order.lineitems.all %}
        <div class="row">
            <div class="col-12">
                <p>{{ item.sheetmusic.name }}</p>
            </div>
            <div class="col-12">
                <p>
                    {{ item.quantity }} x £{{ item.sheetmusic.price }}
                </p>
            </div>
            <div class="col-12">
                <a class="btn btn-warning" href="{{MEDIA_URL}}{{ item.sheetmusic.pdf_file }}" target="_blank" >{{ item.sheetmusic.pdf_file }}</a>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <p>Billing:</p>
            </div>
            <div class="col-12">
                <p>{{ order.grand_total }}</p>
            </div>
        </div>
    </div>
    {% if from_profile %}
        <a class="btn btn-info" href="{% url 'profile' %}">Back to profile</a>
    {% else %}
    {% endif %}
{% endblock %}
