{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="row"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Your Basket</h2>
            </div>
            <div class="col-12">
                {% if basket_items %}
                    <p>table for basket items</p>
                {% else %}
                    <p>Your basket is empty</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}