{% extends "base.html" %}
{% load static %} 
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="row"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center logo-font">Your Basket</h2>
            </div>
                {% if basket_items %}
                <!-- <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless"> -->
                        

                        {% for item in basket_items %}
                            <!-- Basket Items -->
                            <!-- Basket layout inspired by https://mdbootstrap.com/docs/standard/extended/shopping-carts/ -->
                            <section class="h-100 h-custom" style="background-color: #eee;">
                                <div class="container py-2 h-100">
                                    <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="col">
                                            <div class="row">
                                                <div class="card mb-3">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div>
                                                                    <img src="{{ item.sheetmusic.image.url }}" class="img-fluid rounded-3"
                                                                        alt="Shopping item" style="width: 65px;">
                                                                </div>
                                                                <div class="ms-3">
                                                                    <h5 class="subtitle-font">{{ item.sheetmusic.name }}</h5>
                                                                    <p class="small mb-0 subtitle-font">{{ item.sheetmusic.category }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div style="width: 50px;">
                                                                    <h5 class="fw-normal mb-0 subtitle-font">{{ item.quantity }}</h5>
                                                                </div>
                                                                <div style="width: 80px;">
                                                                    <h5 class="mb-0 subtitle-font">£{{ item.sheetmusic.price }}</h5>
                                                                </div>
                                                                <a class="remove-item text-danger float-right"
                                                                    id="remove_{{ item.sheetmusic_id }}"><small>Remove</small></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Remove from basket     -->
                                <form class="form update-form" method="POST" action="{% url 'remove_from_basket' item.sheetmusic_id %}">
                                    {% csrf_token %}
                                </form>
                            </section>
                            
                           
                            
                        {% endfor %}
                        <div class="row">
                            <div class="col-12">
                                <!-- <h6><strong>Basket Total: ${{ total|floatformat:2 }}</strong></h6> -->
                                <h4 class="mt-4 mb-4 subtitle-font"><strong>Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'checkout' %}" class="btn btn-primary mb-3">
                                    <span class="">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'sheetmusic' %}" class="btn btn-dark mb-3">
                                    <span class="">All Sheetmusic</span>
                                </a>
                            </div>
                        </div>
                                            
            {% else %}
                <p class="lead mb-5">Your basket is empty.</p>
                <a href="{% url 'sheetmusic' %}" class="text-start btn-outline-black rounded-0 btn-lg mb-5">
                    <span class="btn btn-dark">Keep Shopping</span>
                </a>
            {% endif %}
            </div>
        </div>
    </div>

    
                      
                   

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        console.log('hi');
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId);
        var url = `remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}






