html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.home-img-carousel {
    background: url('/media/website-images/screen-grab-8.jpg') no-repeat center center fixed;
    background-size: cover;
}

#home-img-carousel .carousel-inner,
.carousel-item.active {
    height: 33vh;
}



/* material design basket icon */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* sets cursor to pointer  */

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* .message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
} */