html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.home-img-carousel {
    background: url('/media/website-images/screen-grab-8.jpg') no-repeat center center fixed;
    background-size: cover;
}

#home-img-carousel .carousel-inner,
.carousel-item.active {
    height: 33vh;
}


/* sheetmusic details */


sheetmusic-image-container {
    imag: 50%;
}