html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

}

footer {

}

.home-img-carousel {
    background: url('/media/website-images/screen-grab-8.jpg') no-repeat center center fixed;
    background-size: cover;
}

#home-img-carousel .carousel-inner,
.carousel-item.active {
    height: 33vh;
}

/* fonts */

.logo-font {
    font-family: 'Charmonman', cursive;
}

.subtitle-font {
    font-family: 'Nanum Myeongjo', serif;
}

p, a {
    font-family: 'Nanum Myeongjo', serif;
}

.btn {
    font-family: 'Nanum Myeongjo', serif;
}

/* Nav bar */

.shopping-basket {
    
}

#search {
    width: 40%;
}
/* Page Header */

.header-container {
    /* background-color: #adb4f7; */
}

/* Home Page */

.home-bg-img{
    background: url('/static/media/website-images/logo-absolute-zero.jpeg') no-repeat center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /* background-attachment: scroll; */
    
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1 0 auto;
    height: 33vh;

}

.home {
    text-align: justify;
}

/* Live music cardiff */
.callout-container {
    align-items: center;
    background: url('/static/images/wmc.jpg') no-repeat bottom center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.opaque-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0%;
    top: 0%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.jumbotron-bg {
    background-color: #000000ad;
}


/* material design basket icon */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* about page */


.about-img {
    position: relative;
    margin: 0 auto;
    max-width: 50%;
}

.about {
    text-align: justify;
}
.member-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* https://stackoverflow.com/questions/7737557/how-can-i-make-the-youtube-player-scale-to-the-width-of-the-page-but-also-keep-tf */
iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
}

/* about from https://bbbootstrap.com/snippets/bootstrap-5-profile-card-animation-74461039 */
/* * {
    margin: 0;
    padding: 0
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
} */

/* .btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
} */

/* .name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
} */

/* sets cursor to pointer  */

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed !important;
    top: 72px !important;
    right: 15px !important;
    z-index: 9999999999 !important;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
} 

.toast-img {
    max-width: 100px;
    max-height: 200px;
}

/* checkout cards */

.card {
    border: none;
    filter: drop-shadow(0 0 0.75rem #767171);
}


/* Allauth formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}


/* contact form */
/* Similar styling approach to my milestone project 1 contact form */

.form-section {
    /* height: 100vh; */
    background: url('/static/media/website-images/screen-grab-3.jpg') no-repeat center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
    
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1 0 auto;

}

@media (min-width: 1000px) { /* This a workaround to get the background image to look nice on iOS. Background scroll is not compatible. Scroll functionality sacrificed for a background img that will cover the entire background. Solution suggested by tutor Ed.*/
    .form-section {
        background: url('/static/media/website-images/screen-grab-3.jpg') no-repeat center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-attachment: fixed;
        
        align-items: center;
        justify-content: center;
        position: relative;
        flex: 1 0 auto;
    
    }
}

.contact-form {
    
    color: #fff;
    background-color: rgba(60,60,60,0.6);
    max-width: 440px;
    position: relative;
    padding: 30px;
    left: 10%
    
}

@media screen and (max-width:510px) {   /* centers contact form div on small screens only (428px is iphone pro max screen width)*/
    
    .contact-form {
        color: #fff;
        background-color: rgba(60,60,60,0.6);
        max-width: 440px;
        position: relative;
        padding: 30px;
        left: 0%;
    }
}

#id_from_email, #id_phone_number, #id_subject {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#id_message {
    background: transparent;
    color: #fafafa;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}