{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="row"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Structure for this page modified from https://mdbootstrap.com/snippets/standard/mdbootstrap/4852176?view=project -->

<section class="py-5">
    <div class="container">
        <h2>Sheet Music Details</h2>
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="{{ sheetmusic.image.url }}">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ sheetmusic.image.url }}" alt="{{ sheetmusic.name }}"/>
            </a>
          </div>
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
                {{ sheetmusic.name }}
            </h4>
  
            <div class="mb-3">
              <span class="h5">£{{ sheetmusic.price }}</span>
            </div>
            <p><strong>Description</strong></p>
            <p>
                {{ sheetmusic.description }}
            </p>
  
            <div class="row">
              <dt class="col-3">Composer:</dt>
              <dd class="col-9">{{ sheetmusic.composer_firstname }} {{ sheetmusic.composer_lastname }}</dd>
  
              <dt class="col-3">Arranger:</dt>
              <dd class="col-9">{{ sheetmusic.arranger }}</dd>
  
              <dt class="col-3">Category:</dt>
              <dd class="col-9">Viola {{ sheetmusic.category.name }}</dd>
  
              
            </div>
              
            <!-- <a href="#" class=""> 
              <span class="material-symbols-outlined"> shopping_basket </span> Add to basket 
            </a> -->
            <form  class="form" action="{% url 'add_to_basket' sheetmusic.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-12">
                      <input class="form-control qty_input d-none" type="number" name="quantity" value="1" min="1" max="1" data-item_id="{{ sheetmusic.id }}" id="id_qty_{{ sheetmusic.id }}">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12">
                    <a href="{% url 'sheetmusic' %}" class="btn btn-outline-black rounded-0 mt-5">
                      <span class="icon">
                          <i class="fas fa-chevron-left"></i>
                      </span>
                      <span class="text-uppercase">Keep Shopping</span>
                    </a>
                  </div>
                  <div class="col-12">
                    <button type="button" class="btn btn-primary" id="toastbtn">Show live toast</button>
                    <input id="toastbtn" type="submit" class="btn btn-primary shadow-0" value="Add to Basket">
                  </div>
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                
            </form>
          </div>
        </main>
      </div>
    </div>
  </section>



{% endblock %}